* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    font-family: Arial, sans-serif;
}





h2 {
    text-align: center;
    color: white;
    margin-bottom: 15px;
    font-size: 24px;
    width: 330px;
}


input {
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 330px;
}


select {
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 330px;
}


button {
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width: 330px;
}

button:hover {
    background: white;
    color: black;
    transform: scale(1.05);

}

.result {
    margin-top: 15px;
    padding: 12px;
    background: white;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    width: 330px;
}